*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:#ffffff;
    line-height:1.6;
    scroll-behavior:smooth;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

header{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    padding-bottom:80px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 0;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.logo span{
    color:#00c6ff;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00c6ff;
}

.hero{
    text-align:center;
    padding:100px 0;
}

.hero span{
    color:#00c6ff;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 30px;
    background:#00c6ff;
    color:#000;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#ffffff;
}

.section{
    padding:80px 0;
    text-align:center;
}

.dark{
    background:#1e293b;
}

.grid{
    display:flex;
    gap:30px;
    margin-top:40px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:#0f172a;
    padding:30px;
    width:280px;
    border-radius:15px;
    border:1px solid #00c6ff;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.project-btn{
    display:inline-block;
    margin-top:15px;
    padding:8px 20px;
    background:#00c6ff;
    color:#000;
    border-radius:20px;
    text-decoration:none;
    transition:0.3s;
}

.project-btn:hover{
    background:#ffffff;
}

footer{
    text-align:center;
    padding:20px 0;
    background:#020617;
    font-size:14px;
}

@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-direction:column;
        gap:10px;
    }
}
