*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.logo span{
    color:#00c6ff;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00c6ff;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero span{
    color:#00c6ff;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 25px;
    background:#00c6ff;
    color:#000;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:white;
}

.section{
    padding:80px 10%;
    text-align:center;
}

.dark{
    background:#0f172a;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
    flex-wrap:wrap;
}

.card{
    background:#1e293b;
    padding:25px;
    width:260px;
    border-radius:15px;
    border:1px solid #00c6ff;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.project-btn{
    display:inline-block;
    margin-top:15px;
    padding:8px 18px;
    background:#00c6ff;
    color:#000;
    text-decoration:none;
    border-radius:20px;
    transition:0.3s;
}

.project-btn:hover{
    background:white;
}

footer{
    text-align:center;
    padding:20px;
    background:#020617;
    font-size:14px;
}
