/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI', sans-serif;
  background:#f4f6f9;
  color:#333;
  line-height:1.6;
}

/* HERO SECTION */

.hero{
  padding:80px 20px;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
}

.hero-container{
  max-width:1100px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap:wrap;
}

.hero-text{
  flex:1;
  min-width:280px;
}

.hero-text h1{
  font-size:42px;
  margin-bottom:10px;
}

.hero-text span{
  color:#00e0ff;
}

.hero-text h2{
  font-weight:400;
  margin-bottom:20px;
  color:#00e0ff;
}

.hero-text p{
  margin-bottom:30px;
  line-height:1.6;
}

.hero-buttons a{
  text-decoration:none;
  padding:12px 25px;
  margin-right:10px;
  border-radius:30px;
  transition:.3s;
  display:inline-block;
}

.btn-primary{
  background:#00e0ff;
  color:black;
}

.btn-primary:hover{
  background:white;
}

.btn-secondary{
  border:2px solid white;
  color:white;
}

.btn-secondary:hover{
  background:white;
  color:black;
}

.hero-image{
  flex:1;
  text-align:center;
  min-width:280px;
}

.hero-image img{
  width:280px;
  border-radius:50%;
  box-shadow:0 10px 40px rgba(0,0,0,0.5);
  transition:.4s;
}

.hero-image img:hover{
  transform:scale(1.05);
}

/* SERVICES */

.section{
  padding:80px 20px;
  text-align:center;
}

.section h2{
  margin-bottom:40px;
  font-size:30px;
}

.services{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
}

.service-box{
  background:white;
  padding:30px;
  width:280px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  transition:.3s;
}

.service-box:hover{
  transform:translateY(-10px);
}

/* CONTACT */

.contact {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
}
.contact p {
  margin: 10px 0;
  font-size: 16px;
}

.contact a {
  color: #00d4ff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.contact a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px rgba(0,212,255,0.8);
}

/* FOOTER */

footer{
  background:#000;
  color:white;
  text-align:center;
  padding:20px;
}

/* RESPONSIVE */

@media(max-width:768px){

  .hero-container{
    flex-direction:column;
    text-align:center;
  }

  .hero-text{
    margin-bottom:40px;
  }

  .hero-text h1{
    font-size:32px;
  }

  .hero-image img{
    width:220px;
  }

}
