*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#000;
    color:#fff;
    line-height:1.6;
}

/* HERO SECTION */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background: radial-gradient(circle at center,#001a1a 0%,#000 70%);
}

.hero h1{
    font-size:40px;
    font-weight:700;
}

.hero h1 span{
    color:#00f5ff;
    font-weight:800;
    text-shadow:none;
}

.hero h3{
    margin-top:10px;
    font-weight:400;
    color:#ccc;
}

.typing{
    color:#00f5ff;
    font-weight:600;
}

/* BUTTON */
.btn{
    display:inline-block;
    padding:12px 28px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    margin-top:20px;
    transition:0.3s ease;
}

.btn-primary{
    background:#00f5ff;
    color:#000;
}

.btn-primary:hover{
    background:#00c8d6;
    transform:scale(1.05);
}

/* SECTION */
section{
    padding:80px 10%;
    text-align:center;
}

h2{
    font-size:32px;
    margin-bottom:40px;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

/* CARD */
.card{
    background:#111;
    padding:25px;
    border-radius:10px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    background:#151515;
}

/* SKILLS */
.skill{
    margin-bottom:25px;
    text-align:left;
}

.bar{
    background:#222;
    height:8px;
    border-radius:5px;
    overflow:hidden;
}

.progress{
    height:8px;
    width:0;
    background:#00f5ff;
    transition:1s ease;
}

/* PROJECT */
.project{
    position:relative;
    overflow:hidden;
    border-radius:10px;
}

.project img{
    width:100%;
    display:block;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.7);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:0.3s;
}

.project:hover .overlay{
    opacity:1;
}

/* CONTACT */
input, textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:6px;
    background:#222;
    color:#fff;
}

input:focus, textarea:focus{
    outline:none;
    border:1px solid #00f5ff;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#111;
    font-size:14px;
    color:#aaa;
}

/* MOBILE */
@media(max-width:768px){
    .hero h1{
        font-size:28px;
    }
}
